/*
Jeff Chapin
https://jachapin.github.io
2019
*/

h1 {
	color: red;
}

.secondColor {
	color: blue;
}

#jeffpicture {
	height: 140px;
	width: 120px;
	align-content: left;
}

.hover {
	transform: scale(1.5);
	box-shadow: 0 0 10px #ffc600;
}

